<div class="container">

  <form name="input" action="/new_issue_handler" method="post">
  
  <div class="row">
    <div class="col-*-*"> Reply to Issue </div>
  </div>
  
  <div class="row">
    <div class="col-*-*"><input maxlength="32" type="text" name="subject" placeholder="Subject"></div>
  </div> 

  <div class="row">
    <div class="col-*-*"><textarea maxlength="2048" type="text" name="new_message" rows="8" cols="55"></textarea></div>
  </div>

  <div class="row">
    <div class="col-*-*">
      <input type="submit" value="Send" />
  	</div>
  </div>
  </form> 
</div>



<div class="container">

  <form name="input" action="/new_issue_handler" method="post">
  
  <div class="row">
    <div class="col-*-*"> Reply to Issue </div>
  </div>
  
  <div class="row">
    <div class="col-*-*"><input maxlength="32" type="text" name="subject" placeholder="Subject"></div>
  </div> 

  <div class="row">
    <div class="col-*-*"><textarea maxlength="2048" type="text" name="new_message" rows="8" cols="55"></textarea></div>
  </div>

  <div class="row">
    <div class="col-*-*">
      <input type="submit" value="Send" />
  	</div>
  </div>
  </form> 
</div>