
  <form name="input" action="/new_issue_handler" method="post">  
  <div class="row">
    <div class="col-*-*"> <h4> Submit New Issue </h4> </div>
  </div>
  
  <div class="row">
    <div class="col-*-*"><input  required maxlength="64"  type="text" name="subject"  size="69"  placeholder="Subject"></div>
  </div> 
  <div class="row">
    <div class="col-*-*"><textarea required maxlength="2048" type="text" name="message" rows="8" cols="69" placeholder="Message"></textarea></div>
  </div>

  <div class="row">
    <div class="col-*-*">
      <button type="submit" class="btn btn-primary btn-block">Send</button>
  	</div>
  </div>
  </form> 
