
  <p><h5> List Issue Category </h5></p>
  <p><a href="/get_tagged_issues/new">new</a></p>
  <p><a href="/get_tagged_issues/critical">critical</a></p>
  <p><a href="/get_tagged_issues/trivial">trivial</a></p>
  <p><a href="/get_tagged_issues/subscribed">subscribed</a></p>
  
  <!-- a resolved and eventually a low and high priority category would be usefull -->
